{% load static %}
{% load bootstrap %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="/static/fa/css/all.min.css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Adicionar Contato</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    

    <style>
      
        body {
          background-image: url(/static/img/photo_phone3.jfif);
          background-repeat: no-repeat;
          background-attachment: fixed;
          /* e agora a regra de ouro que fará a imagem ocupar todo o viewport */
          background-size: 100% 100%;
        }
    

    </style>

</head>

<body>
<br>
<br>
<br>

 <main class="container bg-light" >
    <div class="container">
        <h1>Adicionar Contato</h1>
        <div>
            <form action="." method="POST" id="Form1">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" id="edit_button" name="edit_button" class="btn btn-primary" value="Salvar">
                <a href="{% url 'phones:index' %} ">
                	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </a>

            </form>
            
        </div>
    </div>
    <br>
</main>

<br>
<br>
<br>

</body>

</html>





